@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root {
	--background-image-size: 350px;
	--main-back-color: #1a2329;
	--general-text-color: #DDDDDD;
	--body-back: #191919;
} 
html{
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}
body{
	margin: auto;
	padding: 0;
	font-size: 16px;
	/*font-family: 'PT Sans', sans-serif;*/
	font-family: 'Balsamiq Sans', cursive;
	background: var(--body-back);
	color: #DDDDDD;
	overflow-x: hidden;
	letter-spacing: 0.4px;
}
ul li{
	list-style-type: none;
}
a:hover{
	text-decoration: none;
}
section{
	position: relative;
	padding:0;
	margin: 0;
	left:0;
	width: 100%;
}
img{
	width: 100%;
	height: 100%;
}
span{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.container{
	padding: 0px;
	background: var(--main-back-color);
}
.col{
	padding: 0;
}
.float-left{
	padding: 0;
}

.section-head{
	font-size: 1.5rem;
	color: #fff;
	font-weight: 900;
	padding: 40px;
	margin-bottom: 0;
	padding-bottom: 10px;
	letter-spacing: 2px;
}
.section-subhead{
	font-size: 1rem;
	color: #828282;
	text-align: bottom;
	font-weight: 600;
	padding: 47px 20px;
	padding-bottom: 10px;
}
/*--------general styles finished-------------*/
nav .container{
	background:#17171B;
}
.navbar{
	background: #17181d;
	padding-bottom: 0;
}
.navbar-brand .logo{
	margin-left: 10px;
	width: 30px;
	height: 30px;
}
.navbar-nav .nav-item{
	margin-left: 15px;
	margin-right: 15px;
}
.navbar-nav .nav-item:nth-child(1){
	margin-left: 30px;
}

.navbar-nav .nav-link{
	padding-bottom: 18px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1.17rem;
	padding-top: 10px;
	border-radius: 5px;
}
.active{
	border-bottom: 3px solid #fe7901;
}
.navbar .additional-nav{
	margin-left: auto;
	margin-right: 40px;
}
.navbar .additional-nav a{
	margin-left: 20px;
}
.navbar .additional-nav .profile{
	border-radius: 50%;
	max-height: 45px;
	max-width: 45px;
}
.navbar .additional-nav .more-icons{
	max-height: 30px;
	max-width: 30px;	
}

/*-------Nav Styles end here-------*/
header{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: var(--background-image-size);
	color: #fff;
	height: 500px;
	postion: relative;
}
header .header-icons{
	padding: 60px 40px;
	font-size: 1.08rem;
}
.header-icons li a{
	color:#D1D1D1;
}
.header{
	box-sizing: border-box;
	height: 750px;
	background: var(--main-back-color);
}
header .header-icons .header-icons-left li{
	padding: 7px 25px;
	margin-left: -25px;
	background-color: var(--main-back-color);
}
.header-icons-left li svg{
	font-weight: 900;
}
header .header-icons .header-icons-left li:nth-child(1),header .header-icons .header-icons-left li:nth-child(5){
	border-radius: 10px;
	padding-left: 20px;
}
header .header-icons .header-icons-right li{
	margin-left: 10px;
	padding: 5px 15px;
	background-color: var(--main-back-color);
}
header .header-icons .header-icons-right li:nth-child(1)
{
	padding: 0;
	font-size: 2rem;
}
.notification{
	width: 300px;
    height: auto;
	max-height: 400px;
	overflow-x: hidden;
    overflow-y: auto;
	background: #17181F;
	border: 2px solid #fe7901;
    top: 100%;
    margin-top: 10px;
    right: 15%;
    z-index: 5;
	position: absolute;
	border-radius: 15px;
	padding-top: 10px;
}
.notification .row{
	margin-left: 0px;
	margin-right: 0px;
	padding: 15px 20px;
	border-bottom: 1px solid #5E5E5E;
	box-sizing: border-box;

}
.notification h3{
	font-size: 1.2rem;
	color: #fe7901;
}
.notification p{
	margin-bottom: 0px;
	font-size: 0.9rem;
	color: #fff;
}
.notification h6{
	color: #fe7901;
	font-size: 0.7rem;
	right: 0;
	margin-bottom: 0;
	width: 100%;
	text-align: right;
	padding-top: 5px;
}
/*--------------------Slider----------------*/
.slide_section{
	position: relative;
	height: 600px;
}
.hi-slide { 
	position: relative; 
	width: 100%; 
	height: 400px; 
	margin: 115px 0 0 ; 
	padding-left: 16px;
	padding-right: 16px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.hi-slide .hi-next,
.hi-slide .hi-prev { 
	position: absolute;
	top: 50%; 
	width: 40px;
	height: 40px; 
	margin-top: -20px;     
	border-radius: 50px; 
	line-height: 40px;
	text-align: center; 
	cursor: pointer;
	background-color: #fff; 
	color: black;               
	transition: all 0.6s;
	font-size: 20px; 
	font-weight: bold;
	z-index: 10;
}
.hi-slide .hi-prev{
	margin-left: 130px;
}
.hi-slide .hi-next{
	margin-right: 130px;
}
.hi-slide .hi-next:hover, 
.hi-slide .hi-prev:hover {
	opacity: 1; 
	background-color: #fff;  
}

.hi-slide .hi-prev { left: -60px; }

.hi-slide .hi-prev::before { content: '<'; }
.hi-slide .hi-next { right: -60px; }
.hi-slide .hi-next::before { content: '>'; }

.hi-slide > ul{ 
	list-style: none; 
	position: relative;
	width: 100%; 
	height: 292px; 
	margin: 0;
	padding: 0;
}


.hi-slide > ul > li {
	overflow: hidden; 
	position: absolute; 
	z-index: 0; 
	left: 377px;
	top: 146px; 
	width: 0; 
	height: 0; 
	margin: 0; 
	padding: 0;
	border-radius: 20px;
	background-color: #333; 
	cursor: pointer; 
}

.hi-slide > ul > li > img {
	width: 100%; height: 100%; background-position: center;
}


/*--------------special deals section----------------*/

.special-deals .row{
	padding: 5px 25px;
}
.special-deals .row div.col-md-3{
	box-sizing: border-box;
	position: relative;
	padding: 20px 7px;
}
.image-holder img{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 2px 2px 2px #191919;
}
.image-holder .additional{
	position: relative;
}
.image-holder .additional .percent-discount{
	position: absolute;
	right: 59px;
	background-color: #4E9033;
	bottom: 10px;
	padding: 7px;
	opacity: 0.8;
	color:#E8E8E8;
	z-index: 10;
}
.image-holder .additional .discout-price{
	position: absolute;
	right: 15px;
	background-color: #0B0B0B;
	bottom: 10px;
	padding: 7px;
	opacity: 0.8;
	z-index: 10;
	color: #E8E8E8;
}
.game-name{
	text-align: center;
	background: var(--body-back);
	padding: 4px 0;
	opacity: 0.9;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 2px 2px 2px #191919;
}
.game-name .main{
	color: #DDDDDD;
	font-size: 0.89rem;
}
/*-----------special deals styles end-------------*/

.treanding-section .row{
	padding: 25px;
}
.treanding-section .image-holder{
	height: 300px;
	background: var(--main-back-color);
}
.wishlist{
	padding: 4px;
	position: absolute;
	right: 30px;
	background: hsla(0,0%,0%,0.00);
	top: 20px;
	border: none;
	cursor: pointer;
}
.wishlist .bi-heart-fill{
	display: none;
	z-index: 10;
	width: 1.4em;
	height: 1.4em;
}
.wishlist .bi-heart{
	display: block;
	
	opacity: 0.5;
	width: 1.4em;
	height: 1.4em;
}
.game-price{
	position: absolute;
	padding: 7px;
	opacity: 0.8;
	right: 20px;
	bottom: 40px;
	background-color: #0B0B0B;
	z-index: 10;
	color: #E8E8E8;
}
/*-----------latest release---------------*/
.latest-releases .row{
	padding: 25px;
}
.latest-releases .image-holder{
	height: 300px;
}
.more .image-holder{
	height: 300px;
	background: var(--body-back);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.more .image-holder svg{
	height: 2.3rem;
	width: 2.3rem;
	margin-top: 65%;
	z-index: 10;
}

/*----------------action section--------------------*/
.action-section .row{
	padding: 25px;
}
.action-section .image-holder{
	height: 300px;
}
/*-------------origin access----------------*/

.origin-access div{
	padding-top: 70px;
	padding-bottom: 70px;
}

/*----------------------load more------------------------*/
div.load-more-cover{
	width: 150px;
	margin: auto;
	padding: 30px 0 60px;
}
div.load-more{
	text-align: center;
	padding: 10px;
	cursor: pointer;
	border-radius: 20px;
	background: var(--body-back);
}
/*-------------------copyright-------------------*/
footer{
	text-align: center;
	bottom: 0;
	width: 100%;
}
footer .copyright{
	width: 100%;
	padding: 20px;
	background-color:#0F0F0F;
	font-weight: 700;
}

/*------------------------------------------------------------------------------*/
/*--------------------------------Home Page styles start------------------------*/
/*------------------------------------------------------------------------------*/
.main-page-content .main .main-head-box .section-head{
	padding-left: 35px;
}
.main-page-content .main .main-head-box div{
	font-size: 1rem;
    color: #B7B7B7;
    padding: 40px;
	padding-right: 0px;
    padding-bottom: 10px;
}
.main-page-content .main .main-head-box div span{
	padding: 6px 24px;
	background: var(--body-back);
	border-radius: 10px;
}
.news-container .news-box{
	background-color: #17171B;
	position: relative;
	border-radius: 20px;
	height: 350px;
	overflow: hidden;
	margin: 60px 0px 30px 25px;
}
.news-container .news-box .news-img{
	background: url("../img/Game poster/deablo.jpeg") center no-repeat;
	background-size: cover;
	width: 35%;
	height: 50%;
}
.news-container .news-box .news-head{
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 35%;
	background-color: #1C1D25;
}
.news-container .news-box .news-head .news-heading{
	font-size: 1.05rem;
	font-weight: 400;
	padding: 8% 10% 0 10%;
}
.news-container .news-box .news-head .news-sub{
	padding-left: 11%;
	font-size: 0.9rem;
	color: #5E5E5E;
}
.news-container .news-box .news-head .patch{
	padding-left: 10%;
	font-size: 0.8rem;
}
.news-container .news-box .news-head .patch span{
	padding: 6px 15px;
	background-color: #17181F;
	border-radius: 5px;
}
#read-more-home1{
	display: block;
	z-index: 10;
}
#read-less-home1{
	display: none;
	z-index: -1;
}
#read-more-home2{
	display: block;
	z-index: 10;
}
#read-less-home2{
	display: none;
	z-index: -1;
}
#read-more-home3{
	display: block;
	z-index: 10;
}
#read-less-home3{
	display: none;
	z-index: -1;
}
.news-container .news-box .news-desc{
	width: 65%;
	position: absolute;
	height: 100%;
	background-color: #17181F;
	right: 0px;
	top: 0px;
	padding: 40px;
}
.news-container .news-box .news-desc .head{
	font-size: 1.3rem;
	padding-bottom: 10px;
}
.news-container .news-box .news-desc p{
	color: #5E5E5E;
}
.news-container .news-box .news-desc span{
	position: absolute;
	width: 100%;
	background: #17181F;
	height: 100px;
	padding-top: 30px;
	bottom: 0px;
	font-weight: 400;
	color: #fe7901;
}
.news-container .news-box .news-desc span a{
	cursor: pointer;
}
/*-------------------Friends Section-----------------------*/
.friends-list{
	width: 300px;
	height: auto;
	max-height: 400px;
	overflow-y: auto;
	background: #17181F;
	top: 100%;
	border: 2px solid #fe7901;
	border-radius: 15px;
	margin-top: 10px;
	right: 15%;
	z-index: 5;
	position: absolute;
}
.friends-section{
	padding-right: 20px;
}
.additional-home .friends-no{
	font-size: 1.2rem;
	color: #5E5E5E;
}
.friends{
	border-radius: 15px;
	position: relative;
	background-color: #17181F;
	margin: 10px 0;
	padding: 20px;
	width: 100%;
	height: 80px;
}
.friends .friend-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.friends .friend-details{
	padding: 0 5%;
}
.friends .friend-details .user-name{
	font-size: 1.25rem;
    font-weight: 500;
}
.friends .friend-details .status{
	font-size: 0.9rem;
}
.friends .friend-details .playing{
	color: #fe7901;
}
.friends .friend-details .online{
	color: #0B6310;
}
.friends .friend-details .offline{
	color: #454545;
}
.friends .more-options{
	padding: 10px;
	background: var(--main-back-color);
	border-radius: 5px;
	cursor: pointer;
}
.more-options-block-friends{
	position: absolute;
	z-index: 10;
	background-color: #17181F;
	text-align: left;
	border-radius: 15px;
	right: -120px;
	top: 80%;
}
.more-options-block-friends ul{
	list-style-type: none;
	padding-left: 0;
	padding: 20px;
	margin: 0px;
}
.more-options-block-friends ul li{
	list-style-type: none;
	padding: 4px;
	cursor: pointer;
}
.more-items{
	color: #fe7901;
	font-size: 0.9rem;
	margin-top: 25px;
	cursor: pointer;
}
.additional-home .section-head{
	padding-left: 0;
}
/*---------------lastest release----------------*/
.latest-releases-home{
	padding-right: 15px;
}
.latest-releases-home .games-box{
	box-sizing: border-box;
	position: relative;
	padding: 15px 7px;
}
.latest-releases-home .games-box .image-holder img{
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.latest-releases-home .games-box .game-name{
	background: transparent;
	text-align: left;
	border-radius: 0px;
	padding-top: 10px;
	box-shadow: none;
}
.latest-releases-home .more-items{
	margin-top: 5px;
}


/*------------------------------------------------------------------------------*/
/*--------------------------------Mygames page styles start------------------------*/
/*------------------------------------------------------------------------------*/

.mygames-categories .section-head{
	padding-right: 20px;
	cursor: pointer;
}
.mygames-categories .section-subhead{
	cursor: pointer;
}
.mygames-gamelist-container{
	width: 100%;
}
.mygames-gamelist-container .row{
	padding: 25px;
}
.mygames-gamelist-container .image-holder{
	height: 300px;
	position: relative;
}
.download{
	position: absolute;
	z-index: 10;
	bottom: 0px;
	height: 20%;
	width: 100%;
	padding: 10px;
	margin: 0px;
	background:hsla(0,6%,3%,0.9);	
	text-align: center;
	font-size: 0.9rem;
	font-weight: 100;
	color: green;
}
.download .downloading-meter{
	width: 90%;
	margin: auto;
	margin-top: 5px;
	align-self: center;
	overflow: hidden;
	border-radius: 20px;
	height: 30%;
	background: #161616;
}
.download .downloading-meter div{
	background: darkgreen;
	width: 40%;
	height: 100%;
}
/*--------------------all games--------------------*/
.mygames-allgames{
	width: 100%;
}
.mygames-allgames .row{
	padding: 25px;
}
.mygames-allgames .image-holder{
	height: 300px;
	position: relative;
}
.game-play-button{
	position: absolute;
	display: none;
	z-index: 10;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	margin: 0px;
	background:hsla(0,0%,4%,0.9);
	text-align: center;
	font-size: 0.9rem;
	font-weight: 100;
	cursor: default;
}
.game-play-button .play-button-text{
	width: 100%;
	margin: auto;
	padding: 5% 30%;
	align-self: center;
	overflow: hidden;
	border-radius: 20px;
	height: 20%;
	color: #DDDDDD;
	cursor: pointer;
	background:hsla(111,66%,18%,0.85);
}
.mygames-allgames .image-holder:hover .game-play-button{
	display: block;
}
.mygames-allgames div.col-md-2{
	margin-top: 20px;
}

/*----------------------------------------------------------------------------*/
/*--------------------------origin access-------------------------------------*/
/*----------------------------------------------------------------------------*/

.origin-membership .origin-head{
	width: 100%;
}
.origin-membership .col{
	box-sizing: border-box;
}
.origin-price-box{
	width: 75%;
	margin: auto;
	background: #12181d;
	border-radius: 20px;
}
.origin-price-box .category{
	padding: 10px;
	padding-left: 30px;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 38%;
}
.origin-price-box .category .section-head{
	font-size: 1.2rem;
	padding: 10px 10px;
	font-weight: 600;
}
.origin-price-box .category .section-subhead{
	padding: 10px 10px; 
	font-weight: 500;
	font-size: 0.85rem;
}
.origin-price-box .category .row{
	padding: 10px 15px;
	padding-right: 0px;
}


.origin-price-box .basic{
	width: 28%;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 20px;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #1e262c;
}
.origin-price-box .basic .section-head{
	font-size: 1.2rem;
	padding: 20px 10px;
	width: 100%;
	text-align: center;	
	letter-spacing: 0.7px;
	background-color: #303941;
	font-weight: 600;
}
.origin-price-box .basic .section-subhead{
	padding: 18px 10px; 
	font-weight: 800;
	width: 100%;
	font-size: 0.98rem;
	margin-bottom: 0;
	color: #DDDDDD;
	text-align: center;
}
.origin-price-box .basic .row{
	padding: 10px 15px;
}
.origin-price-box .basic .row:nth-child(1){
	padding-top: 0px;
}
.origin-price-box .basic .row:nth-child(7){
	padding-bottom: 0px;
}
.origin-price-box .basic .row:nth-child(7) .section-subhead{
	background-color: #303941;
	font-size: 1.1rem;
	letter-spacing: 0.7px;
}
.origin-price-box .basic svg{
	width: 1.2rem;
	height: 1.2rem;
}

.origin-price-box .premier{
	width: 28%;
	margin-left: 10px;
	box-sizing: border-box;
	border-radius: 20px;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #2d1107;
}
.origin-price-box .premier .section-head{
	font-size: 1.2rem;
	padding: 20px 10px;
	width: 100%;
	text-align: center;
	background-color: #9f2d03;
	font-weight: 600;
}
.origin-price-box .premier .section-subhead{
	padding: 18px 10px; 
	font-weight: 800;
	width: 100%;
	font-size: 0.98rem;
	margin-bottom: 0;
	color: #DDDDDD;
	text-align: center;
}
.origin-price-box .premier .row{
	padding: 10px 15px;
}
.origin-price-box .premier .row:nth-child(1){
	padding-top: 0px;
}
.origin-price-box .premier .row:nth-child(7){
	padding-bottom: 0px;
}
.origin-price-box .premier .row:nth-child(7) .section-subhead{
	background-color: #9f2d03;
	font-size: 1.1rem;
	letter-spacing: 0.7px;
}

.origin-price-box .premier svg{
	width: 1.2rem;
	height: 1.2rem;
}

/*----------------------latest premier access games----------------------------*/

.latest-premier-access .row{
	padding: 25px;
}
.latest-premier-access .image-holder{
	height: 300px;
}

/*----------------------------upcoming premier---------------------------------*/
.upcoming-premier{
	padding-top: 60px;
}

/*------------------------origin vault game library-----------------------------*/
.origin-vault-game-lib{
	padding-top: 50px;
}
.origin-vault-game-lib .row{
	padding: 25px;
	padding-top: 0px;
}
.origin-vault-game-lib .image-holder{
	height: 300px;
}
.origin-vault-game-lib div.col-md-2 {
    margin-top: 20px;
}

/*----------------------------------origin faq---------------------------------*/
.origin-faq{
	background-color: #12181d;
}

.origin-faq-container{
	width: 80%;
	margin: auto;
	padding: 40px 20px;
	overflow: hidden;
}
.origin-faq-container .section-head{
	padding-left: 0px;
	font-size: 2rem;
	font-weight: 900;
}
.origin-faq-container .row{
	padding-top: 10px;
	padding-bottom: 10px;
}
.origin-faq-container .col{
	background-color: var(--main-back-color);
	width: 100%;
	padding: 20px 20px;
	margin-left: 10px; 
	margin-right: 10px;
	border-radius: 15px;
	color: hsla(0,0%,64%,1.00);
}
.origin-faq-container .col p{
	width: 85%;
}
.origin-faq-container .col span{
	position: absolute;
	right: 20px;
	bottom: 45%;
}
.origin-faq-container .col span svg{
	width: 1.3rem;
	height: 1.3rem;
	font-weight: 900;
	cursor: pointer;
}
.origin-faq-container .load-more-cover .load-more{
	background-color: var(--main-back-color);
}


/*---------------------gamepage Styles--------------------------------------*/
.mainBox_outer{
	background:var(--main-back-color);
	margin-top: -150px;
	border-radius: 600px/130px;
}

.mainBox_outer .col-md-2{
	top: -100px;
}
.mainBox_outer .game-poster-potrait{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.mainBox_outer .buy_button{
	background-color: #41b565; 
	width: 100%;
	border: none;
	margin-top: 10px;
}
.mainBox_outer .buy_button:hover{
	background: #1d883e;
}
.mainBox_outer .add_cart_button{ 
	background-color: var(--body-back);
	width: 100%;
	margin-top: 10px;
	border: none;
	margin-top: 10px;
}
.mainBox_outer .add_cart_button:hover{
	background: #da3900;
}
.mainBox_outer .game_head{
	font-size: 2.1rem;
	font-family: 'Russo One', sans-serif;
	margin-top: 100px;
	color: #fff;
}
.game_tags{
	margin-top: 15px;
}
.game_tags span{
	padding: 4px 8px;
	font-size: 0.8rem;
	background: var(--body-back);
}
.mainBox_outer .game_desc{
	color: #a9a9a9;
	margin-top: 35px;
}
.mainBox_outer .game_info{
	margin-top: 40px;
	margin-bottom: 30px;
}
.mainBox_outer .game_info_box{
	width: 40%;
	padding: 15px 20px;
	margin-top: 15px;
	border-radius: 7px;
	display: inline-block;
	background:var(--body-back);
}
 .info_head{
	font-size: 0.75rem;
	color: #a9a9a9;
	margin-bottom: 10px;	
}
.mainBox_outer .game_info_box .info_data{
	font-size: 1rem;
	margin-bottom: 0px;
	color: #fff
}
.mainBox_outer .game_info_box .info_data img{
	width: 20px;
	height: 20px;
}
.mainBox_outer .game_info .box1{
	margin-right: 2%;
}
.mainBox_outer .game_info .box2{
	margin-left: 2%;
}
.game_editions{
	padding-top: 40px;
	padding-bottom: 40px;
}
.game_edition_container{
	width: 66.66%;
	margin-left: 16.7%;
}
.games_page_section_head{
	font-size: 1.8rem;
	color: #fff;
	margin-bottom: 10px;
	font-family: 'Russo One', sans-serif;
}
.game_edition_container .editions{
	margin-top: 30px;
	background: var(--body-back);
	border-radius: 15px;
}
.game_edition_container .editions img{
	width: 40px;
	height: 40px;
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
}
.game_edition_container svg{
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
}
.game_edition_container .package_name{
	font-size: 1.4rem;
	margin-top: 40px;
	color: #fff;
	font-family: 'Russo One', sans-serif;
}
.game_edition_container .info_head{
	margin-top: 20px;
	font-size: 0.85rem;
	margin-bottom: 20px;
}
.game_edition_container .price{
	background: #2d3f4a;
	padding: 0px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.game_edition_container .price h4{
	font-size: 1.4rem;
	font-weight: 500; 
	color: #fff;
	text-align: center;
	margin-top: 30%;
	margin-left: 50%;
	transform: translate(-50%, -30%);
}
.game_edition_container .buy_button{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	font-size: 1rem;
	padding-top: 12px;
	padding-bottom: 12px;
	background: #41b565;
	text-align: center;
	border-bottom-right-radius: 15px;;
}
.game_edition_container .buy_button:hover{
	background: #1d883e;
}
.game_edition_container .editions .additional_info{
	color: #f15a24;
	margin-top: 30px;
}
.origin_primium .price{
	background: #5d322285;	
}
.origin_primium .price h4{
	margin-top: 30%;
	margin-left: 50%;
	transform: translate(-50%, -15%);
}
.origin_primium .buy_button{
	background: #f15a24;
}
.origin_primium .buy_button:hover{
	background: #da3900;
}
.latest_news_container{
	width: 66.66%;
	margin-left: 16.7%;
	padding-top: 30px;
	padding-bottom: 40px;
}
.latest_news_container .news-box{
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 40px;
}
.system_requirements_container{
	width: 66.66%;
	margin-left: 16.7%;
	padding-top: 30px;
	padding-bottom: 40px
}
.system_requirements_container .system_info_box{
	margin-top: 30px;
}
.system_requirements_container .system_info_box > div{
	background: var(--body-back);
	padding: 40px 40px 10px 40px;
	border-radius: 15px;
}
.system_info_box .system_info_box_head{
	font-family: 'Russo One', sans-serif;
	font-size: 1.5rem;
	color: #fff;
}
.system_info_box > div > div{
	margin-top: 20px;
}
.system_info_box .info_type{
	margin-bottom: 0.2rem;
	color: #a9a9a9;
	font-size: 0.97rem;
}
.system_info_box .desc{
	margin-top: 10px;
	color: #fff;
	margin-bottom: 15px;
}
.similar_games_container{
	width: 66.66%;
	margin-left: 16.7%;
	padding-top: 30px;
	padding-bottom: 40px
}
.similar_games_container .games_page_section_head{
	margin-bottom: 40px;
}
.profile-main .profile-head{
	width: 66.66%;
	margin-left: 16.7%;
	padding-top: 100px;
	padding-bottom: 40px;	
}
.profile-head .profile-img-box{
	width: 20%;
}
.profile-head .profile-img-box{
	border-radius: 50%;
	display: inline-block;
}
.profile-head .profile-img-box img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 2px solid #41b565;
}
.profile-head .profile-details{
	display: inline-block;
}
.profile-head .profile-details .profile-name{
	font-size: 1.8rem;
	color: #fff;
	font-weight: 800;
}
.profile-head .profile-details .status{
	font-size: 1rem;
	margin-top: 10px;
	color: #41b565;
}
.profile-head .edit-profile{
	display: inline-flex;
	float: right;
	margin-top: 20px;
	background: #17181F;
	border-radius: 5px;
}
.profile-head .edit-profile a{
	padding: 10px 20px 10px 20px;
	color: #fff;
}
.user-achivements > div.row{
	width: 66.66%;
	margin-left: 16.7%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.user-achivements .section-head{
	padding: 0;
	margin: 0;
	color: #fff;
}
.achivements-box > div{
	margin-top: 10px;
}
.achivements-box .achivements-unlocked{
	background: #17181F;
    border-radius: 15px;
    margin-right: -1px;
    padding: 0;
}
.achivements-box .achivements-unlocked img{
	padding: 0 20px 0 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.achivements-box .origin-points img{
	padding: 0 20px 0 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.achivements-box .achivement-data{
	display: inline-block;
}
.achivements-box .achivement-data h3{
	color: #fff;
	font-size: 1.8rem;
	margin-top: 30px;	
	font-weight: 800;
}
.achivements-box .achivement-data p{
	color: #868686;
	font-size: 0.9rem;
	margin-top: -5px;
}
.achivements-box .origin-points{
	background: #17181F;
    border-radius: 15px;
    margin-left: -1px;
    padding: 0;
}
.achivements-box .latest-achivements{
	background: #17181F;
	padding: 20px;
	border-radius: 15px;
	margin: 20px -15px;
}
.latest-achivements .badges{
	margin-top: 15px;
}
.latest-achivements .badges img{
	width: 50px;
	height: 50px;
	margin-left: 5px;
	margin-right: 5px;
}
/*-----------------------------settings styles------------------------*/
.settings > div{
	width: 66.66%;
	margin-left: 16.7%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.settings .section-head{
	padding-left: 0;	
}
.settings .options{
	background: #17181F;
	border-radius: 15px;
	padding-right: -5%;
	box-sizing: content-box;
	max-height: 300px;
	margin-top: 2%;
}
.settings .options > div{
	text-align: left;
	margin-left: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
	padding-bottom: 5%;
	border-bottom: 1px solid grey;
	margin-right: 5%;
}
.settings .options > div:first-child{
	margin-top: 10%;
}
.settings .options > div:last-child{
	border: none;
	padding-bottom: 0px;
	margin-bottom: 10%;
}
.settings .options a{
	color:#a9a9a9;
}
.settings .options a:hover{
	color: #fff;
}
.settings-options .section-head{
	font-size: 1.4rem;
	position: relative;
	padding-top: 30px;
	width: 100%;
	letter-spacing: 1px;
	padding-bottom: 30px;
	padding-left: 30px;
}
.settings .settings-options{
	background: #17181F;
	border-radius: 15px;
	padding-right: -5%;
	margin-left: 20px;
	padding-bottom: 30px;
	margin-top: 2%;
} 
.settings .settings-box{
	position: relative;
	width: 100%;
	margin-left: 30px;
	margin-right: 30px;
	padding-bottom: 15px;
	padding-top: 20px;
	border-bottom: 1px solid #a9a9a9;
}
.settings-box h4{
	display: inline;
	font-size: 1rem;
	color: #a9a9a9;
}
.settings-options .selected-options{
	display: inline;
	float: right;
}
.dropdown select{
	padding: 6px 15px;
	background: var(--main-back-color);
	color: #fff;
	border: none;
}
.checkbox input{
	transform: scale(1.3);
	margin-right: 20px;
}
.settings .selected{
	color: #fff !important;
}
.settings .having-question{
	background-color: #171717;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 15px;
	margin-top: 30px;
	margin-right: 15px;
	border-radius: 15px;
}
.settings .having-question div{
	font-size: 1rem;
	color: #fff;
	text-align: center;
}
.settings .having-question div a{
	font-size: 1rem;
	color: #fe7901;
}
/*----------------------admin login-----------------------------*/
.admin-login .container{
	background: transparent;
}
.admin-login .login-box{
	width: 34%;
	position: relative;
	background: var(--main-back-color);
    margin-left: 33%;
	margin-top: 15%;
	padding: 40px 40px;
	padding-bottom: 60px;
	border-radius: 15px;
	
}
.admin-login .login-box .login-head{
	width: 100%;
	text-align: center;
}
.admin-login .login-box h3{
	font-size: 1.7rem;
	color: #EFEFEF;
	padding-top: 15px;
}
.admin-login .login-box .login-head img{
	width: 45px;
	height: 45px;
}
.admin-login .login-box form{
	margin-top: 20px;
}
.login-box input{
	width: 90%;
	margin-left: 5%;
	background: #1b242a;
	border: none;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	border-bottom: 1px solid #f15a24;
}
.login-box button{
	width: 90%;
	margin-left: 5%;
	padding: 10px;
	margin-top: 40px;
	background: #f15a24;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 1.3rem;
	text-align: center;
}
.login-box button:hover{
	background: #d05023;
}
.stick-bottom{
	position: absolute;
	bottom: 0;
}
/*-------------------------admin-page----------------*/
.admin-page .admin-nav .container{
	background-color: #17171b;
	position: relative;
}
.admin-page .container > .row{
	margin: 0;	
}
.admin-page .container > .row > .row{
	right: 20px;
	position: absolute;
	cursor: pointer;
}
.admin-page .logo-img{
	height: 50px;
	width: 50px;
	padding: 10px;
	margin: 10px 20px;
}
.admin-page .admin-img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	padding: 10px;
}
.admin-page .admin-img img{
	border-radius: 50%;
}
.admin-page .admin-info h3{
	font-size: 1.3rem;
	margin-top: 25px;
	color: #fff;
	font-weight: 500;
}
.admin-page .admin-info .logout{
	position: absolute;
	z-index: 100;
	width: inherit;
	height: auto;
	padding: 10px 20px;
}
.admin-page .admin-info .logout a{
	color: #f15a24;
	font-size: 1.1rem;
	letter-spacing: 1px;
}
.admin-page .admin-info h3 span{
	font-weight: 800;
	color: #f15a24;
	letter-spacing: 2px;
}
.control-panel{
	min-height: 90%;
}
.control-panel .container{
	height: 86vh;
    max-height: 86vh;	
}
.control-panel .row .col-md-2{
	padding: 15px;
	padding-right: 0px;
}
.control-panel .row .col-md-2 > div{
	background-color: #17181F;
	margin-left: 15px;
	padding: 20px;
	border-radius: 15px;
	padding-top: 0px
}
.control-panel .control-options{
	width: 100%;
	padding: 15px 0 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1rem;
	cursor: pointer;
	color: #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
}
.control-panel .active{
	color: #fff;
}
.control-panel .row .col-md-10 > div{
	background-color: #17181F;
    height: 81.5vh;
    margin-top: 20px;
	max-height: 81.5vh;
	margin-right: 15px;	
	border-radius: 15px;
	overflow: auto;
}
.control-panel .col-md-10 h3{
	margin: 30px 50px;
	font-size: 1.4rem;
	color: #fff;
	letter-spacing: 1px;
}
.control-panel .dashboard h4{
	margin: 20px 50px;
	font-size: 1.1rem;
	color: #a9a9a9;
	letter-spacing: 1px;
}
.control-panel .content-list-box{
	margin: 30px 50px;
	position: relative;
} 
.control-panel .content-list-box > .row{
	margin: 0px;
	width: 100%;
	margin-top: 15px;
	padding-left: 20px;
	background-color: #1a2329;
}
.control-panel .users .list-item{
	width: 70px;
	padding: 10px;
}
.control-panel .users .list-item img{
	border-radius: 50%;
}
.control-panel .users .user-name{
	margin-left: 10px;
	color: #fff;
	padding: 20px 0;
	font-size: 1.2rem;
}
.control-panel .users .remove-user{
	transform: rotateZ(45deg);
	position: absolute;
	right: 30px;
	border: none;
    background: transparent;
	cursor: pointer;
	margin-top: 10px;
	font-size: 2.5rem;
	color: #f15a24;
}
.content-list-box > form h4{
	color: #f15a24;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 1.2rem;
}
.content-list-box > form h5{
	font-size: 1.05rem;
	padding-bottom: 10px;
	padding-top: 1rem;
}
.content-list-box > form > div{
	padding-bottom: 20px;
}
.content-list-box .medium-box{
	width: 35%;
	margin-right: 5%;
	margin-top: 1%;
	padding: 7px 20px;
	background: var(--main-back-color);
	color: #fff;
	border: none;
}
.content-list-box .bigbox{
	width: 75.5%;
	margin-top: 1%;
	background: var(--main-back-color);
	color: #fff;
	padding: 7px 20px;
	border: none;
}
.submit-data{
	width: 75.5%;
    padding: 10px;
    border-radius: 10px;
    background: #ef5923;
    border: none;
    color: #fff;
}
.submit-data:hover{
	background: #ff4401;
}



