<div class="col-md-2" style="padding-left: 20px">
    <a href="/games/<%=gameName %>">
        <div class="image-holder" style="min-height: 150px;">
            <img style="min-height: 150px;" class="game-poster-potrait" src="../<%= imagePath %>" alt="<%= gameName %>">
        </div>
        <button>+</button>
        <div class="game-name">
            <span class="main"><%= gameName %></span>
        </div> 
    </a>
</div> 