<div class="friends pull-left">
    <img class="friend-img float-left" src="img/profile-pic.jfif" alt="">
    <span class="friend-details float-left">
        <span class="user-name">Mila12</span><br>
        <span class="status playing">Playing Sims 4</span>
    </span>
    <span class="more-options float-right" onclick="toggle_class_friend2();">
        <svg class="bi bi-three-dots" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
    </span>
    <div id="friend2" class="more-options-block-friends d-none">
        <ul>
            <li>Send Message</li>
            <li>Send Invitaion</li>
            <li>View Profile</li>
            <li>Block</li>
            <li>Unfriend</li>
        </ul>							
    </div>
</div>