<div class="games-box col-md-12">
    <a href="#">
        <div class="image-holder">
            <img class="gameposter-landscape" src="img/Game poster/uncharted2.jpg" alt="uncharted 2">
            <div class="additional">
                <p class="percent-discount float-right">-40%</p>
                <p class="discout-price float-right">$20</p>
            </div>
        </div>
        <div class="game-name">
            <span class="main">November 15, 2019</span><br>
        </div>
    </a>
</div>