<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origin Admin</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/responsive.css">
</head>
<body>
    <section class="admin-login">
        <div class="container">
                <div class="login-box">
                    <div class="login-head">
                        <img src="img/back.png" alt="">
                        <h3><%= head %></h3>
                    </div>
                    <form action="<%= location %>" method="post">
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <% if(location == "/login"){ %>
                            <div class="row" style="padding-top: 20px;">
                                <div class="col text-center">
                                    Don't Have an Account? <a href="/register"> Create Here</a>
                                </div>
                            </div>
                        <% } %>
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="stick-bottom">
        <div class="copyright">
            <span>Copyright &copy; 2020 &#64; Origin Inc.</span>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.hislide.js" ></script>
    <script src="js/script.js"></script>
</body>
</html>